.header-container {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 90;
    padding: 16px;
    border-bottom: 1.5px solid #c8ccd0;
    background-color: #f6f8fa;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.left {
    .navbar {
        cursor: pointer;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #d0d7de;
        border-radius: 6px;

        img {
            margin: auto;
            display: block;
        }
    }
    .logo {
        margin-left: 8px;
    }

    .breadcrumbs {
        span {
            color: #2b2d30b3;
            font-size: 1.6rem;
            line-height: 1.4;
            padding: 0 4px;
            cursor: pointer;
        }

        span.separare {
            cursor: initial;
            color: #2b2d30b3;
        }

        span.active {
            color: #2a2b2d;
        }
    }
}

.right {
    .search {
        width: 300px;
        height: 36px;
        border: 1px solid #c8ccd0;
        display: flex;
        align-items: center;
        justify-content: baseline;
        border-radius: 6px;

        label {
            padding-left: 8px;
        }
        input {
            height: 100%;
            width: 100%;
            padding: 0 12px;
            font-size: 1.6rem;

            &::placeholder {
                font-size: 1.6rem;
            }
        }
    }

    .separate {
        width: 1px;
        height: 24px;
        background-color: #c8ccd0;
        margin: 0 8px;
    }

    .add-more {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 32px;
        border: 1px solid #c8ccd0;
        border-radius: 8px;
        overflow: hidden;

        span {
            width: 27px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                margin: auto;
            }
        }

        &:hover {
            background-color: #f2f2f2;
        }
    }

    .notification {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        border: 1px solid #c8ccd0;
        border-radius: 6px;

        img {
            margin: auto;
        }
    }

    .avatar {
        cursor: pointer;
        figure {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid #c8ccd0;
        }
        .avatar-img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}

//built css -> ko dung scss
.navbar-menu[class$='show'] {
    translate: 0;
}
.navbar-menu[class$='show'] ~ .navbar-overlay {
    visibility: visible;
    opacity: 1;
}

.popper-notofication[class$='show'] ~ .popper-overlay {
    visibility: visible;
    opacity: 1;
}

.popper-notofication[class$='show'] {
    translate: 0;
}

//NAVBAR MENU
.navbar-menu {
    translate: -100%;
    position: fixed;
    z-index: 91;
    inset: 0 calc(100% - 350px) 0 0;
    background-color: #fff;
    border-top-right-radius: 20px;
    transition: translate 0.5s;

    .inner-menu {
        padding: 0 16px 50px 16px;
        height: calc(100vh - 50px);
        overflow-y: scroll;
    }
    .navbar-menu-top {
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .avatar {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
        }

        .close-btn {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            border-radius: 8px;

            &:hover {
                background-color: #f0f0f0;
            }

            img {
                margin: auto;
                cursor: pointer;
            }
        }
    }

    .menu-items {
        margin-top: 20px;
    }

    .menu-item {
        padding: 8px 12px;
        border-radius: 10px;
        transition: background-color 0.4s;

        &:hover {
            background-color: #f1f1f1;
        }
        button {
            display: flex;
            align-items: center;
            gap: 12px;
            img {
                width: 17px;
            }

            span {
                color: rgb(31, 35, 40);
                font-size: 1.5rem;
                line-height: 1.4;
                font-weight: 400;
            }
        }
    }

    .menu-item.active {
        background-color: #f1f1f1;
        position: relative;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: -6px;
            width: 3px;
            height: 100%;
            border-radius: 4px;
            background-color: #218bff;
        }
    }

    .separate {
        margin-top: 18px;
        margin-bottom: 18px;
        width: 100%;
        height: 1px;
        background-color: #c8ccd0;
    }

    .separate + .menu-item {
        margin-top: auto;
    }
}

.navbar-overlay,
.popper-overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    z-index: 8;
    background-color: #aba3a342;
    transition: opacity, visibility;
    transition-duration: 0.5s;
}

.recent-view {
    .heading {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .action {
        font-size: 1.3rem;
        cursor: pointer;
        color: #c8ccd0;
    }
}

.wrap-recent-items {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 0;

    .recent-item {
        flex-shrink: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6px 10px;
        border-radius: 4px;
        border: 1px solid #e4e4e4;

        span {
            color: rgb(31, 35, 40);
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.43;
        }
    }
}

.wrap-button {
    position: relative;

    .arrow-up {
        height: 20.5px;
        position: absolute;
        top: -11px;
        right: 4px;
    }

    .popper-add-new {
        width: 250px;
        position: absolute;
        z-index: 1;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 40px 90px #9b9ba833;
        right: 0;
        top: 50px;
        opacity: 1;
        visibility: visible;
        scale: 1;
        transform-origin: 90% top;
        transition: opacity, scale, visibility;
        transition-duration: 0.5s;
    }

    .popper-list {
        padding: 8px;
    }

    .popper-item {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px 8px;
        border-radius: 6px;
        transition: background-color 0.3s;

        &:hover {
            background-color: #f1f1f1;
        }

        img {
            width: 16px;
        }

        span {
            font-size: 1.5rem;
        }
    }

    .separate {
        margin: 8px 0;
        width: 100%;
        height: 1px;
        background-color: #f2f2f2;
    }
}

.popper-add-new.none {
    opacity: 0;
    visibility: hidden;
    scale: 0;
}

.popper-notofication {
    translate: 100%;
    position: fixed;
    z-index: 91;
    top: 0;
    bottom: 0;
    right: 0;
    width: 350px;
    // inset: 0 calc(100% - 350px) 0 0;
    background-color: #fff;
    border-top-left-radius: 20px;
    transition: translate 0.5s;
}

.notification-top {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wrap-user-info {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .avatar {
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 50%;
    }

    .close-btn {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        border-radius: 8px;

        &:hover {
            background-color: #f0f0f0;
        }

        img {
            margin: auto;
            cursor: pointer;
        }
    }
}

.inner-notification {
    padding: 0 16px 50px 16px;
    height: calc(100vh - 50px);
    overflow-y: scroll;

    header {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 12px;
    }
    span.alert {
        display: block;
        font-size: 1.3rem;
        margin-top: 22px;
    }
}
