.rdrCalendarWrapper {
    border-radius: 4px;
    width: 100%;
    box-shadow: rgba(51, 51, 51, 0.2) 3px 2px 12px;
    // background-color: var(--primary-color);
    // color: #fff;
}

.rdrMonth {
    width: 100%;
}
.rdrMonthAndYearPickers select {
    // color: #fff;
}

.rdrDayNumber span {
    // color: #fff;
}
