.wrapper {
    padding-bottom: 60px;
}

.sidebar {
    padding-left: 40px;
    padding-right: 32px;
    padding-top: 24px;
    position: fixed;
    height: 100vh;
    top: 68px;
    left: 0;
    width: 384px;
    border-right: 1px solid #ddd;
    overflow: scroll;

    .header {
        h3 {
            font-family: 'Inter', sans-serif;
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 1.3;
        }

        p {
            font-family: 'Inter', sans-serif;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.4;
            color: #726c6c;
            margin-top: 8px;
            margin-bottom: 30px;
        }
    }
}

.process {
    .process-item {
        display: flex;
        align-items: center;
        gap: 24px;

        .wrap-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border: 1px solid #c3c5c9;
            border-radius: 6px;

            img {
                width: 15px;
                filter: brightness(0) saturate(100%) invert(89%) sepia(6%) saturate(142%) hue-rotate(182deg)
                    brightness(91%) contrast(83%);
            }
        }

        .wrap-icon.active {
            border-color: var(--primary-color);
            background-color: var(--primary-color);

            img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(0%) hue-rotate(337deg)
                    brightness(106%) contrast(106%);
            }
        }

        .done-icon {
            width: 30px;
        }

        .process-desc {
            .process-sequence {
                font-size: 1.3rem;
                color: #c7c7c7;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
            }

            p {
                margin-top: 8px;
                font-size: 1.6rem;
                color: #c7c7c7;
                font-family: 'Inter', sans-serif;
                font-weight: 500;
            }
        }

        + .process-item {
            margin-top: 56px;
            position: relative;

            &.active {
                &::before {
                    background-color: var(--primary-color);
                }
            }

            &::before {
                position: absolute;
                content: '';
                left: 14px;
                top: -55px;
                width: 1.5px;
                height: 54px;
                border-radius: 2px;
                background-color: #ddd;
            }
        }
    }

    .process-item.active,
    .process-item:nth-child(1) {
        .wrap-icon {
            border-color: var(--primary-color);
            background-color: var(--primary-color);

            img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(0%) hue-rotate(337deg)
                    brightness(106%) contrast(106%);
            }
        }

        .process-desc {
            p {
                color: var(--primary-color);
            }
            .process-sequence {
                color: #726c6c;
            }
        }
    }
}

.content {
    margin-left: 270px;
    padding-left: 16px;

    .details-campaign {
        .head {
            font-family: 'Inter', sans-serif;
            font-size: 2.2rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 8px;

            p {
                font-weight: 500;
            }
        }

        .back-btn {
            height: 32px;
            width: 84px;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            background-color: #e8e8e8;
            border-radius: 20px;
            font-size: 1.4rem;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            color: #7d7c85;
            transition: background-color, color;
            transition-duration: 0.3s;

            img {
                width: 7px;
                transition: filter 0.3s;
            }

            &:hover {
                background-color: var(--primary-color);
                color: #fff;

                img {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(628%) hue-rotate(292deg)
                        brightness(119%) contrast(100%);
                }
            }
        }
    }
}

.content .form {
    background-color: #fff;
    margin-top: 16px;
    padding: 24px 24px;

    .form-row {
        display: flex;
        align-items: flex-start;
        gap: 24px;

        visibility: visible;
        opacity: 1;

        transition: visibility, opacity, height, margin;
        transition-duration: 0.3s;

        .form-group {
            flex: 1;
        }

        .form-label {
            margin-bottom: 8px;
            label {
                font-family: 'Inter', sans-serif;
                color: var(--primary-color);
                font-size: 1.6rem;
                font-weight: 500;
            }
        }

        .form-control {
            height: 40px;
            width: 100%;
            border: 1px solid #d0d7de;
            border-radius: 10px;
        }

        .form-control.no-border {
            border: initial;
            border-radius: 0;
        }

        .form-control.inline {
            margin-top: -8px;
            display: flex;
            align-items: center;
            gap: 24px;
        }

        .form-input {
            height: 100%;
            width: 100%;
            padding: 0 12px;
            font-size: 1.4rem;
            font-weight: 500;
            color: #7d7c85;
            font-family: 'Inter', sans-serif;

            &::placeholder {
                font-size: 1.4rem;
            }
        }
        .form-desc {
            font-family: 'Inter', sans-serif;
            font-size: 1.5rem;
            color: #626466;
            line-height: 1.4;
        }

        .form-desc.small {
            margin-top: 6px;
            font-size: 1.1rem;
            font-style: italic;
            color: #0969da;
        }

        .form-label.small label {
            font-size: 1.4rem;
            color: #776f6f;
        }

        + .form-row {
            margin-top: 24px;
        }
    }

    .form-row.none {
        visibility: hidden;
        opacity: 0;
        height: 0;
        margin-top: 0;

        + .form-row.none {
            margin-top: 0;
        }
    }

    .form-row.margin-inital {
        margin-top: 0;
    }
}

.content .form.not-background-color {
    background-color: initial;
}

.form-wrap-select {
    position: relative;
    .main {
        min-width: 72px;
        height: 40px;
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: space-between;
        font-family: 'Inter', sans-serif;
        font-size: 1.4rem;
        border: 1px solid #d0d7de;
        padding-right: 11px;
        cursor: pointer;
        border-radius: 6px;

        span {
            margin-left: 11px;
        }

        img {
            width: 13px;
            transition: rotate 0.5s;
        }

        img.icon-rotate {
            rotate: 180deg;
        }
    }
    .channel-value {
        color: #6059e7;
    }

    .wrap-list {
        width: 100%;
        position: absolute;
        top: 44px;
        left: 0;
        z-index: 1;
        background-color: var(--primary-color);
        border-radius: 6px;
        box-shadow: 0px 40px 90px #9b9ba833;

        opacity: 1;
        visibility: visible;

        transition: opacity, visibility, position;
        transition-duration: 0.3s;

        .popper-list {
            width: 100%;
            padding: 6px;
            font-family: 'Inter', sans-serif;
        }

        .popper-item {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            border-radius: 6px;
            transition: background-color 0.3s;
            cursor: pointer;

            padding-left: 16px;

            &:hover {
                background-color: #3b3838;

                span {
                    color: #c4c1ff;
                }

                img {
                    filter: brightness(0) saturate(100%) invert(89%) sepia(18%) saturate(5503%) hue-rotate(191deg)
                        brightness(104%) contrast(102%);
                }
            }

            span {
                display: block;
                padding: 11px 11px;
                min-width: 96px;
                font-size: 1.4rem;
                font-weight: 500;
                color: #fff;
            }
            img {
                width: 15px;
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(214deg)
                    brightness(103%) contrast(102%);
            }

            + .popper-item {
                margin-top: 4px;
            }
        }
        .popper-item.active {
            background-color: #626466;
        }
    }

    .wrap-list.calendar {
        position: absolute;
        top: initial;
        background-color: transparent;
    }

    .popper-list.calendar {
        padding: 0;
    }

    .wrap-list.none {
        opacity: 0;
        visibility: hidden;
    }
}

.form-actions {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 24px;
    display: flex;
    align-items: center;
    gap: 32px;

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .btn.btn-next {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-family: 'Inter', sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        width: 150px;
        background-color: #333;
        color: #fff;
        border-radius: 99px;

        img {
            width: 7px;
            filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(628%) hue-rotate(292deg)
                brightness(119%) contrast(100%);
        }
    }
    .btn.btn-preview {
        margin-left: auto;
        background-color: #f3f3f3;
        border-radius: 99px;
        width: 150px;
        transition: background-color, color;
        transition-duration: 0.3s;

        &:hover {
            background-color: var(--primary-color);
            color: #fff;
        }
    }

    .btn.btn-add {
        margin-top: 30px;
        margin-bottom: -20px;
        border-radius: 8px;
        padding: 0 38px;
        margin-left: auto;
        color: #fff;
        background-color: var(--primary-color);
    }
}

.form-actions.larger-margin {
    margin-top: 0;
    padding-top: 0;
}

.switch label {
    display: inline-block;
    height: 16px;
    width: 50px;
    background-color: #f9f9f9;
    border-radius: 99px;
    outline: 2px solid #e8e8e8;
    transition: background-color, outline;
    transition-duration: 0.4s;

    &::before {
        position: relative;
        content: '';
        display: inline-block;
        height: 15px;
        width: 15px;
        background-color: #fff;
        border-radius: 50px;
        box-shadow: 0 3px 5px #9d929280;
        transition: transform 0.4s;
    }
}

.switch [type='checkbox']:checked + label::before {
    transform: translateX(35px);
    background-color: #f0f0f0;
}

.switch [type='checkbox']:checked + label {
    background-color: var(--primary-color);
    outline-color: var(--primary-color);
}

// .switch.activity[type='checkbox']:checked ~ .form-row.none {
//     opacity: 1;
//     visibility: visible;
// }

.date-value {
    padding: 6px 16px;
    border-radius: 14px;
    background-color: #ececf5;
    color: blueviolet;
}

.list-types-of-campaign {
    display: grid;
    grid-template-rows: auto;
    row-gap: 16px;
    column-gap: 16px;

    .item {
        height: fit-content;
    }

    .wrap-item {
        .info {
            border-radius: 8px;
            padding: 16px;
            //  border: 1px solid #d0d7de;
            margin-bottom: 16px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            background-color: #fff;

            .row-1 {
                display: flex;
                align-items: center;
                gap: 16px;
                margin-bottom: 8px;

                p {
                    color: #0969da;
                    font-size: 1.6rem;
                    cursor: pointer;
                }

                span {
                    color: #777e86;
                    font-size: 1.3rem;
                    padding: 4px 8px;
                    border: 1px solid #d0d7de;
                    border-radius: 12px;
                }
            }

            .row-2 {
                display: flex;
                align-items: center;
                gap: 8px;
                span {
                    color: #656d76;
                    font-size: 1.4rem;
                    line-height: 1.5;
                    font-family: 'Inter';
                    font-weight: 400;
                }

                .tag {
                    width: 8px;
                    height: 8px;
                    display: block;
                    background-color: #b07219;
                    border-radius: 50%;
                }
            }
        }

        .right {
            .add-type {
                display: flex;
                align-items: center;
                gap: 4px;
                color: #fff;
                font-size: 1.3rem;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                background-color: var(--primary-color);
                padding: 6px 8px;
                cursor: pointer;
                border-radius: 6px;

                img {
                    width: 12px;
                    filter: brightness(0) saturate(100%) invert(100%) sepia(1%) saturate(628%) hue-rotate(292deg)
                        brightness(119%) contrast(100%);
                }
            }

            .remove-type {
                display: flex;
                align-items: center;
                gap: 4px;
                color: #7d7c85;
                font-size: 1.3rem;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                background-color: #e8e8e8;
                padding: 6px 8px;
                cursor: pointer;
                border-radius: 6px;

                img {
                    width: 12px;
                }
            }
        }

        .details-info {
            height: fit-content;
            position: relative;
            padding-left: 64px;
            opacity: 1;
            visibility: visible;
            transition: opacity, visibility, height;
            transition-duration: 0.4;

            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 15px;
                height: 100%;
                width: 2px;
                background-color: #d8dee4;
                border-radius: 2px;
            }

            .separate {
                position: absolute;
                top: 16px;
                left: 0;
                z-index: 1;

                figure {
                    width: 32px;
                    height: 32px;
                    background-color: #eaeef2;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .more-info {
                color: #656d76;
                font-size: 1.4rem;
                line-height: 1.6;
                font-family: 'Inter';
                font-weight: 400;
                + .more-info {
                    margin-top: 4px;
                }

                span {
                }
            }
        }

        .details-info.none {
            height: 0;
            visibility: hidden;
            opacity: 0;
        }
    }
}

.container-file {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 18px;

    .file-thumb {
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 16px;
        border-radius: 10px;
        border: 1px dashed #c8ccd0;
        cursor: pointer;

        &.not-border {
            border: none;
        }
        span {
            color: #c8ccd0;

            font-size: 1.4rem;

            font-weight: 500;
            line-height: 1.43;
        }

        .preview-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .file-thumb.none {
        display: none;
    }
}

//PREVIEW CONTENT

.popper-overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    z-index: 8;
    background-color: #00000042;
    transition: opacity, visibility;
    transition-duration: 0.5s;
}

.popper-notofication[class$='show'] ~ .popper-overlay {
    visibility: visible;
    opacity: 1;
}

.popper-notofication[class$='show'] {
    translate: 0;
}

.popper-notofication {
    translate: 100%;
    position: fixed;
    z-index: 91;
    top: 0;
    bottom: 0;
    right: 0;
    width: 950px;
    // inset: 0 calc(100% - 350px) 0 0;
    background-color: #fff;
    border-top-left-radius: 20px;
    transition: translate 0.5s;
    height: 100vh;
    overflow-y: scroll;
}

.notification-top {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        font-size: 1.9rem;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }

    .close-btn {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        border-radius: 8px;

        &:hover {
            background-color: #f0f0f0;
        }

        img {
            margin: auto;
            cursor: pointer;
        }
    }
}

.preview-content {
    .header-preview-content {
        padding: 0 16px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 24px;
        border-bottom: 1.5px solid #e4dddd;
        figure {
            width: 50%;
            flex-shrink: 0;
        }

        .thumbnail {
            border-radius: 4px;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        .introduce {
            h4 {
                font-family: 'Inter', sans-serif;
                font-size: 2.8rem;
                margin-bottom: 12px;
                color: var(--primary-color);
            }

            p {
                font-family: 'Inter', sans-serif;
                font-size: 1.3rem;
                color: #656d76;
                line-height: 1.3;
                margin-bottom: 24px;
                max-width: 90%;
            }

            .introduce-item {
                display: flex;
                align-items: center;
                gap: 8px;
                + .introduce-item {
                    margin-top: 12px;
                }
            }

            .wrap-icon {
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                background-color: #f0f0f0;

                img {
                    width: 13px;
                }
            }

            .value {
                margin-left: 10px;
                font-family: 'Inter', sans-serif;
                color: #7d7c85;
                font-size: 1.5rem;
            }

            .tag {
                font-size: 1.5rem;
                color: #5f5f5f;
                font-family: 'Inter', sans-serif;
            }
        }
    }

    .bread {
        padding-top: 16px;
        overflow: hidden;
        .list-bread {
            padding: 0 16px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #dadada;
        }

        .bread-item {
            margin-bottom: -2px;
            border-bottom: none;
            padding: 8px 16px;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;

            span {
                font-family: 'Inter', sans-serif;
                font-size: 1.5rem;
            }

            &:hover {
                background-color: #f3f3f3;
            }
        }
    }

    .bread-item.active {
        margin-bottom: -2px;
        position: relative;
        background-color: #fff;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-top: 1px solid #dadada;
        border-left: 1px solid #dadada;
        border-right: 1px solid #dadada;

        span {
            color: var(--primary-color);
            font-weight: 500;
        }
    }

    .inner-content {
        padding: 24px;
    }
}

//END PREVIEW CONTENT

.timetable {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 32px;
    .timetable-title {
        display: flex;
        align-items: baseline;
        gap: 8px;

        img {
            width: 13px;
            height: 13px;
            object-fit: contain;
            filter: brightness(0) saturate(100%) invert(48%) sepia(0%) saturate(7098%) hue-rotate(168deg)
                brightness(82%) contrast(98%);
        }

        span {
            font-family: 'Inter', sans-serif;
            color: #646464;
            line-height: 1.4;
            font-size: 1.6rem;
            font-weight: 400;
        }

        span.value {
        }
    }
}

.form-timetable {
    margin-top: 60px !important;
    box-shadow: rgba(51, 51, 51, 0.2) 3px 2px 12px;
    background-color: #f5f5f5 !important;
}
.form-notice {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    margin-top: 24px;
    background-color: #e5f0ff;

    border-radius: 6px;
    p {
        font-family: 'Inter', sans-serif;
        color: #18191b;
        font-weight: 400;
        line-height: 1.3;
    }
    p:nth-child(1) {
        color: #0969da;
        font-size: 1.3rem;
    }

    p:nth-child(2) {
        font-size: 1.3rem;
    }
}

.content-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}

.filter-form-group {
    margin-top: 20px;
}

.filter-select-wrap {
    position: relative;
    .wrap-select {
        padding: 6px 16px;
        background-color: #f1f1f0;
        border-radius: 6px;
        display: flex;
        align-items: center;
        height: 45px;
        justify-content: space-between;

        &:hover {
            background-color: #efefef;
        }

        span.value {
            font-family: 'Inter', sans-serif;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--primary-color);
            line-height: 1.4;
        }
    }
    .wrap-select,
    .wrap-select.set-width {
        min-width: 240px;
    }

    .category-list {
        position: absolute;
        top: 50px;
        width: 50%;
        z-index: 1;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 40px 90px #9b9ba833;
        right: 86px;
        top: -25px;
        opacity: 1;
        visibility: visible;
        scale: 1;
        transform-origin: 100% 40%;
        transition: opacity, scale, visibility;
        transition-duration: 0.5s;

        .arrow-up {
            height: 20.5px;
            position: absolute;
            top: 37px;
            right: -26px;
            rotate: 90deg;
        }
    }

    .category-list.none {
        opacity: 0;
        visibility: hidden;
        scale: 0;
    }

    .popper-list {
        padding: 8px;
        max-height: 208px;
        overflow-y: scroll;
        font-family: 'Inter', sans-serif;
    }

    .popper-item {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 6px 8px;
        border-radius: 4px;
        transition: background-color 0.3s;

        + .popper-item {
            margin-top: 6px;
        }

        &:hover {
            background-color: #f1f1f1;

            img {
                filter: brightness(0) saturate(100%) invert(4%) sepia(2%) saturate(6708%) hue-rotate(202deg)
                    brightness(91%) contrast(88%);
            }

            span {
                color: #17171a;
            }
        }

        img {
            width: 14px;
            filter: brightness(0) saturate(100%) invert(49%) sepia(9%) saturate(260%) hue-rotate(207deg) brightness(97%)
                contrast(92%);
        }

        span {
            font-size: 1.4rem;
            font-weight: 500;
            color: #7d7c85;
        }
    }
    .popper-item.active {
        background-color: #e6ebf1;
        span {
            color: #17171a;
        }

        img {
            filter: brightness(0) saturate(100%) invert(4%) sepia(2%) saturate(6708%) hue-rotate(202deg) brightness(91%)
                contrast(88%);
        }
    }

    .group-btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 28px;
        border: 1px solid #c8ccd0;
        border-radius: 8px;
        overflow: hidden;

        span {
            width: 24px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                width: 12px;
                margin: auto;
            }
        }

        &:hover {
            background-color: #f2f2f2;
        }
    }
}

.list-activity {
    margin-top: 42px;

    .group-activity {
        display: flex;
        gap: 24px;
        .decoration {
            display: flex;
            flex-direction: column;

            align-items: center;
            .line-column {
                width: 2px;
                height: 100%;
                background-color: #d8dee4;
            }
        }

        .activities {
            margin-bottom: 20px;
            flex: 1;
        }

        .schedule {
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            gap: 24px;

            span {
                font-family: 'Inter', sans-serif;
                font-size: 1.5rem;
                color: #7e6d76;
                transition: color 0.6s;
            }

            &:hover {
                .push-btn {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .loading {
                margin-left: -10px;
                img {
                    width: 13px;
                    filter: brightness(0) saturate(100%) invert(71%) sepia(72%) saturate(0%) hue-rotate(271deg)
                        brightness(98%) contrast(86%);
                    animation: spinner 1.4s infinite;
                }
            }
            .text-loading {
                position: relative;
                color: #e2e3e9;

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: #c1c1c1;
                    content: attr(data-text);
                    white-space: nowrap;
                    //  width: 100%;
                    overflow: hidden;
                    animation: run 2s infinite;
                }
            }

            .push-btn {
                cursor: pointer;
                padding: 0 12px;
                color: #fff;
                font-family: 'Inter', sans-serif;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 6px;
                height: 24px;
                background-color: var(--primary-color);
                border-radius: 4px;
                position: relative;
                visibility: hidden;
                opacity: 0;

                transition: opacity, visibility;
                transition-duration: 0.4s;

                &::before {
                    position: absolute;
                    top: 45%;
                    left: -8px;
                    content: '';
                    width: 12px;
                    height: 12px;
                    background-color: var(--primary-color);
                    transform: translateY(-50%);
                    rotate: 50deg;
                }

                img {
                    width: 14px;
                    object-fit: contain;
                    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(351deg)
                        brightness(103%) contrast(104%);
                }
            }

            .push-btn.none {
                display: none;
            }
        }

        .multi-activity {
            border-top: 1px solid #d8dee4;
            border-left: 1px solid #d8dee4;
            border-right: 1px solid #d8dee4;
            border-radius: 8px;
            overflow: hidden;
        }

        .activity-item {
            display: flex;
            justify-content: space-between;
            padding: 8px 16px;
            border-bottom: 1px solid #d8dee4;

            transition: background-color 0.3s;

            &:hover {
                background-color: #f1f1f0;

                .remove {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .remove {
                background-color: #eaeaea;
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 10px;
                opacity: 0;
                visibility: hidden;

                transition: opacity, visibility;
                transition-duration: 0.3s;
            }
        }

        .activity-item.label {
            justify-content: center;
            height: 60px;
            display: flex;
            flex-direction: column;

            .div-1 {
                width: 75%;
                height: 6px;
                border-radius: 10px;
                opacity: 0.08;
                background: #000958;
                margin-bottom: 12px;
            }

            .div-2 {
                width: 30%;
                height: 6px;
                border-radius: 10px;
                opacity: 0.08;
                background: #000958;
            }
        }

        .activity-item div:nth-child(1) {
            p:nth-child(1) {
                font-family: 'Inter', sans-serif;
                font-size: 1.6rem;
                font-weight: 500;
                margin-bottom: 8px;
                color: var(--primary-color);
            }

            p:nth-child(2) {
                font-family: 'Inter', sans-serif;
                font-size: 1.3rem;
                span {
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: #898a99;
                }
            }
        }

        + .group-activity {
            margin-top: 3px;
        }
    }
}

.form-error {
    color: red;
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    margin: 6px 0 12px 0;
}

.form-input.special {
    padding-left: 4px !important;
    color: var(--primary-color) !important;

    &::placeholder {
        font-size: 2rem !important;
        color: #d5d5d3 !important;
    }
}

.form-input.active {
    background-color: #fff;
    box-shadow: 0px 40px 90px #9b9ba833;
    padding-left: 12px !important;
    border-radius: 6px;
}
.suggest-open {
    margin-top: 4px;
    max-height: 136px;
    overflow-y: scroll;
    border-radius: 4px;
    padding: 8px 8px;
    background-color: #fff;
    position: relative;
    visibility: visible;
    opacity: 1;
    z-index: 2;

    transition: opacity, visibility;
    transition-duration: 0.3s;

    .item {
        border-radius: 4px;
        cursor: pointer;
        padding: 8px 8px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        transition: background-color 0.3s;

        &:hover {
            background-color: #f1f1f0;

            span {
                color: #9249d5;
            }

            img.suggest-icon {
                filter: brightness(0) saturate(100%) invert(38%) sepia(100%) saturate(591%) hue-rotate(234deg)
                    brightness(83%) contrast(102%);
            }
        }

        span {
            font-family: 'Inter', sans-serif;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5;
            color: #656d76;
        }

        + .item {
            margin-top: 6px;
        }
    }
}
.suggest-open.none {
    opacity: 0;
    visibility: hidden;
}
img.suggest-icon {
    width: 16px;
}

img.deco-icon {
    width: 14px;

    object-fit: contain;
    filter: brightness(0) saturate(100%) invert(59%) sepia(8%) saturate(2061%) hue-rotate(231deg) brightness(96%)
        contrast(83%);
}

.form-timetable .separate {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 4px;

    span {
        height: 3px;
        width: 72px;
        opacity: 0.08;
        background-color: #000958;
        border-radius: 7px;

        transition: opacity, background-color;
        transition-duration: 0.6s;
    }
    span:nth-child(3) {
        width: 54px;
    }

    span.first {
        width: 45px;
        background-color: #6059e7;
        opacity: 1;
    }

    span.active {
        background-color: #6059e7;
        opacity: 1;
    }

    span.small {
        width: 34px;
    }
}
.label-schedule {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .label {
        display: flex;
        align-items: center;
        gap: 6px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;

        span {
            font-size: 1.8rem;
            font-weight: 600;
        }
    }

    &:hover {
        .add-timetable {
            visibility: visible;
            opacity: 1;
        }
    }

    .add-timetable {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Inter', sans-serif;
        font-size: 1.3rem;

        background-color: #f2f2f2;

        height: 28px;
        width: 220px;
        padding: 0 12px;
        border-radius: 4px;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;

        span {
            position: relative;
            color: #ddd;
            transition: color 0.6s;

            &::after {
                color: #a782c2;
                position: absolute;
                top: 0;
                left: 0;
                content: 'Continue Schedule';
                white-space: nowrap;
                //  width: 100%;
                overflow: hidden;
                animation: run 2s infinite;
            }
        }

        transition: background-color, opacity, visibility;
        transition-duration: 0.3s;
        &:hover {
            background-color: #e5e5e5;
        }
    }
}

@keyframes spinner {
    from {
        rotate: 0;
    }
    to {
        rotate: 180deg;
    }
}

@keyframes run {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
