.wrapper {
    padding-bottom: 60px;
}

.filter-suggest {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 20px 60px 10px vrgba(237, 237, 246, 0.2);

    header {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ededf6;

        h3 {
            color: #9e9da8;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 0.5;
        }

        img {
            width: 8px;
        }

        h3.active {
            color: var(--text-color);
        }
    }
}

.suggest-list {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ededf6;

    .suggest-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6px 14px;
        border-radius: 20px;
        background: #f8f8fb;
        transition: background-color 0.5s;

        span {
            color: #1a162e;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.43;
        }

        &:hover {
            background-color: #ececec;
        }
    }
}

.recomend-item {
    padding-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    img {
        filter: var(--filer-icon-color);
    }

    .suggest-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 6px 10px;
        border-radius: 4px;
        border: 2px solid#f8f8fb;
        transition: background-color 0.5s;

        span {
            color: #1a162e;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.43;
        }

        &:hover {
            background-color: #ececec;
        }
    }

    button {
        margin-left: auto;
        color: #1a162e;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43;
    }
}

//POPPER FILTER
.suggest-item.wrap-button {
    position: relative;

    .popper-filter {
        z-index: 10;
        position: absolute;
        padding: 20px;
        left: 0;
        top: 48px;
        background-color: #f6f6f6;
        box-shadow: 0px 0px 96px #90868666;
        opacity: 1;
        visibility: visible;
        transform: opacity, visibility;
        transition-duration: 0.6s;
    }

    .popper-filter.none {
        opacity: 0;
        visibility: hidden;
    }

    .filter-heading {
        font-family: 'Inter', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.45;
        color: var(--filter-heading-color) !important;
    }

    .filter-form {
        margin-top: 20px;
    }

    .filter-row {
        display: flex;
    }

    .filter-form-label {
        display: block;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.5;
    }

    .filter-form-slider {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #d2d1d6;
        margin-bottom: 24px;

        &::before,
        &::after {
            top: 50%;
            translate: 0 -50%;
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 6px solid var(--primary-color);
            background-color: #fff;
        }

        &::before {
            left: var(--min-value);
        }

        &::after {
            left: var(--max-value);
        }
    }

    .filter-form-group {
        margin-top: 20px;
    }

    .filter-form-input {
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        height: 36px;
        width: 120px;
        padding: 0 12px;
        color: #1a162e;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.43;
    }

    .filter-form-group.hornizonal {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .filter-form-label.small {
        font-family: 'Inter', sans-serif;
        margin-bottom: 10px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.4;
    }

    .filter-separate {
        width: 1px;
        background-color: #ebe5e5;
        margin: 0 30px;
    }

    .filter-select-wrap {
        position: relative;
        .wrap-select {
            padding: 12px;
            border-radius: 6px;
            border: 1px solid #d2d1d6;
            display: flex;
            align-items: center;
            height: 45px;
            justify-content: space-between;
        }
        .wrap-select,
        .wrap-select.set-width {
            min-width: 240px;
        }

        .category-list {
            position: absolute;
            top: 50px;
            width: 100%;
            z-index: 1;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 40px 90px #9b9ba833;
            right: 0;
            top: 50px;
            opacity: 1;
            visibility: visible;
            scale: 1;
            transform-origin: 90% top;
            transition: opacity, scale, visibility;
            transition-duration: 0.5s;

            .arrow-up {
                height: 20.5px;
                position: absolute;
                top: -11px;
                right: 4px;
            }
        }

        .category-list.none {
            opacity: 0;
            visibility: hidden;
            scale: 0;
        }

        .popper-list {
            padding: 8px;
            max-height: 208px;
            overflow-y: scroll;
            font-family: 'Inter', sans-serif;
        }

        .popper-item {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 6px 8px;
            border-radius: 6px;
            transition: background-color 0.3s;

            &:hover {
                background-color: #f1f1f1;

                img {
                    filter: brightness(0) saturate(100%) invert(4%) sepia(2%) saturate(6708%) hue-rotate(202deg)
                        brightness(91%) contrast(88%);
                }

                span {
                    color: #17171a;
                }
            }

            img {
                width: 14px;
                filter: brightness(0) saturate(100%) invert(49%) sepia(9%) saturate(260%) hue-rotate(207deg)
                    brightness(97%) contrast(92%);
            }

            span {
                font-size: 1.4rem;
                font-weight: 500;
                color: #7d7c85;
            }
        }
        .popper-item.active {
            background-color: #e6ebf1;
            span {
                color: #17171a;
            }

            img {
                filter: brightness(0) saturate(100%) invert(4%) sepia(2%) saturate(6708%) hue-rotate(202deg)
                    brightness(91%) contrast(88%);
            }
        }

        .group-btn {
            cursor: pointer;
            display: flex;
            align-items: center;
            height: 28px;
            border: 1px solid #c8ccd0;
            border-radius: 8px;
            overflow: hidden;

            span {
                width: 24px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 12px;
                    margin: auto;
                }
            }

            &:hover {
                background-color: #f2f2f2;
            }
        }
    }

    .filter-select {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: calc(100% - 12px);
        padding: 0 14px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.43;

        img {
            width: 15px;
            transition: rotate 0.5s;
            user-select: none;
        }
    }

    .filter-select:nth-child(1) {
        min-width: 158px;
        border-right: 1px solid #d2d1d6;
    }
    .filter-select:nth-child(2) {
        min-width: 180px;
    }

    .filter-form-tags {
        display: flex;
        align-items: center;
        gap: 20px;

        .filter-form-tag {
            padding: 6px 12px;
            border-radius: 6px;
            background-color: #f0f0f0;
            transition: color 0.5s;
            color: #9e9da8;

            &:hover {
                color: var(--text-color);
            }
        }
    }

    .filter-form-text {
        width: 334px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        padding: 0 16px;

        input {
            width: 100%;
        }
    }

    .btn-group {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 20px;
        button,
        span {
            cursor: pointer;
            font-family: 'Inter', sans-serif;
        }

        button {
            border-radius: 10px;
            padding: 6px;
            background-color: var(--primary-color);
            color: #fff;
        }
    }
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    .title {
        display: flex;
        align-items: center;
        gap: 14px;
        h4 {
            font-family: 'Inter', sans-serif;
            color: #1f2328;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.4;
        }

        button {
            height: 28px;
            width: 62px;
            display: flex;
            align-items: center;
            gap: 4px;
            background-color: var(--primary-color);
            color: #fff;
            cursor: pointer;
            border-radius: 6px;
            padding-left: 6px;

            img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3507%) hue-rotate(46deg)
                    brightness(109%) contrast(87%);
            }
        }
    }
}

.form-search form {
    height: 38px;
    width: 280px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 8px;

    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        cursor: pointer;
        background-color: var(--primary-color);
        padding-left: 12px;
        padding-right: 12px;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;

        img {
            filter: brightness(0) saturate(100%) invert(96%) sepia(0%) saturate(7491%) hue-rotate(102deg)
                brightness(111%) contrast(101%);
        }
    }

    input {
        width: 100%;
        padding: 0 12px;
    }
}

.add-product,
.edit-product {
    translate: 0 100%;
    position: fixed;
    z-index: 9;
    inset: 10% 180px 0 180px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: translate 0.5s;

    header {
        padding: 30px 30px 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        h3 {
            font-family: 'Inter', sans-serif;
            font-size: 2.8rem;
            font-weight: 700;
            line-height: 1.5;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 42px;
            height: 42px;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.4;

            &:hover {
                background-color: #eaeaea;
            }

            img {
                width: 24px;
                margin: auto;
            }
        }
    }

    .content {
        padding: 0 30px;
        height: calc(100vh - 230px);
        overflow-y: auto;
    }
}

.add-product[class$='show'] ~ .product-overlay {
    visibility: visible;
    opacity: 1;
}

.add-product[class$='show'] {
    translate: 0 0;
}

.edit-product[class$='show'] ~ .product-overlay-edit {
    visibility: visible;
    opacity: 1;
}

.edit-product[class$='show'] {
    translate: 0 0;
}
.form-row {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;

    .form-group {
        margin-top: 0 !important;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    + .form-group {
        margin-top: 30px;
    }
}

.form-label {
    font-size: 1.7rem;
    color: #2a2b2d;
}

.form-input {
    border-radius: 10px;
    padding: 0 16px;
    height: 50px;
    width: 100%;
    border: 1px solid #c8ccd0;
}

.form-buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 34px;
    margin-bottom: 60px;

    span {
        cursor: pointer;
    }

    button {
        font-size: 1.6rem;
        cursor: pointer;
    }
    button:nth-child(1) {
        background-color: var(--primary-color);
        color: #fff;
        padding: 8px 40px;
        border-radius: 10px;
    }
}

.form-label-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span.btn {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 1.4rem;
        color: #686767;
        border: 1px solid #c8ccd0;
        padding: 6px 8px;
        border-radius: 8px;
        transition: background-color 0.5s;

        img {
            width: 14px;
        }

        &:hover {
            background-color: #f1f1f1;
        }
    }
}

.wrap-select {
    height: 50px;
    border: 1px solid #c8ccd0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    img {
        width: 16px;
        cursor: pointer;
        transition: rotate 0.5s;
    }
}

.form-group.product {
    position: relative;

    .wrap-select {
        span {
            font-size: 1.5rem;
            color: #474747;
        }
    }

    .wrap-options {
        padding: 8px 0;
        position: absolute;
        background-color: #fff;
        left: 0;
        top: calc(100% + 6px);
        width: 100%;
        box-shadow: 0px 40px 90px #72727233;
        border-radius: 4px;
        z-index: 2;
        max-height: 248px;
        overflow-y: scroll;

        .option {
            cursor: pointer;
            padding: 10px 16px;
            margin: 0 8px;
            border-radius: 6px;

            &:hover {
                background-color: #c7c7c733;
            }

            span {
                font-size: 1.5rem;
                color: #474747;
            }
        }

        &.none {
            display: none;
        }
    }
}
.form-row-upload {
    margin-top: 30px;

    .container-files {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        row-gap: 18px;
    }

    .file-thumb {
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 16px;
        border-radius: 10px;
        border: 1px dashed #c8ccd0;
        cursor: pointer;

        &.not-border {
            border: none;
        }
        span {
            color: #c8ccd0;

            font-size: 1.4rem;

            font-weight: 500;
            line-height: 1.43;
        }

        .preview-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .file-thumb.none {
        display: none;
    }
}

.icon-rotate {
    rotate: 180deg;
}

span.note {
    margin-left: 6px;
    font-size: 1.2rem;
    font-style: italic;
    color: red;
}

// Overlay
.product-overlay,
.product-overlay-edit {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    z-index: 8;
    background-color: #3c3333b5;
    transition: opacity, visibility;
    transition-duration: 0.5s;
}

// Modal

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 11;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.wrap-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

// Ebd modal

.container-table {
    background-color: #fff;
    padding: 0 16px;
}

.head-table {
    display: grid;
    grid-template-columns: 50px 84px 120px 140px 110px 100px 100px 160px 152px 1fr;
    column-gap: 16px;
    border-bottom: 1px solid #e7e7e9;
    padding: 8px 0;

    span {
        cursor: pointer;
        width: fit-content;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        gap: 6px;

        color: #9e9da8;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43;
        transition: background-color 0.4s;

        &:hover {
            background-color: #f8f8fb;
        }

        img {
            transition: rotate 0.6s;
        }

        img.icon-rotate {
            rotate: 180deg;
        }
    }
}

.inner-table {
    display: grid;
    grid-template-columns: 50px 84px 120px 140px 110px 100px 100px 160px 152px 1fr;
    column-gap: 16px;
    border-bottom: 1px solid #e7e7e9;
    padding: 8px 0;
    cursor: pointer;
    transition: background-color 0.5s;
    //  background-color: #fffbfb;

    .thumb {
        width: 56px;
        height: 44px;
        object-fit: cover;
        display: block;
        border-radius: 4px;
    }

    &:hover {
        background-color: #f3f0f052;
        border-radius: 6px;
    }

    .table-data {
        margin: auto 0;
        font-family: 'Inter', sans-serif;
        color: #555459;
        font-weight: 500;
        line-height: 1.5;
        font-size: 1.4rem;
        padding-left: 8px;
        transition: color;
        transition-duration: 0.4s;

        &:hover {
            color: #000;
        }
    }

    .table-data.quantity {
        margin-left: -30px;
        text-align: center;
    }

    .table-data.status {
        position: relative;
        padding-left: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::before {
            display: block;
            position: absolute;
            content: '';
            top: 36%;
            left: 10px;
            width: 6px;
            border-radius: 50%;
            height: 6px;
            background-color: #218bff;
        }

        &:hover .switch-status-btn {
            opacity: 1;
            visibility: visible;
        }
    }

    .table-data.status.inactive {
        &::before {
            background-color: #d90f0f;
        }
    }

    .table-data.desc {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
    }

    .table-data.date {
        font-size: 1.3rem;
    }

    .action-btns {
        display: flex;
        align-items: center;
        gap: 6px;

        .separate {
            width: 1px;
            height: 15px;
            background-color: #218bff;
            border-radius: 4px;
        }
        button {
            cursor: pointer;
            font-size: 1.3rem;
            color: #656d8c;
            border: 1px solid #d0d7de;
            padding: 2px 10px;
            border-radius: 20px;
        }

        button:nth-child(1) {
            &:hover {
                color: #218bff;
            }
        }
        button:nth-child(3) {
            &:hover {
                color: #d90f0f;
            }
        }
    }
}

.error-message {
    width: 30%;
    // margin-left: 30px;
    margin-bottom: 24px;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: left;
    color: red;
    padding: 8px 16px;
    font-style: italic;
    //  border: 1.5px solid #da5c5c;
    background-color: #e1acb233;
}

.success-message {
    width: 30%;
    // margin-left: 30px;
    margin-bottom: 24px;
    padding: 8px 16px;
    font-size: 1.3rem;
    border-radius: 10px;
    color: #1f883d;
    font-style: italic;
    background: rgb(39 243 117 / 20%);
}

.thumb-edit {
    position: relative;

    img.icon {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #fff;
        padding: 6px;
        cursor: pointer;
        border-radius: 50%;

        visibility: hidden;
        opacity: 0;

        transition: visibility, opacity;
        transition-duration: 0.6s;
    }
}

.thumb-edit:hover img.icon {
    visibility: visible;
    opacity: 1;
}

.no-data {
    padding: 20px;
    display: block;
    height: 200px;
}
