.wrapper {
    padding-bottom: 60px;

    .header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 4px;

        h4 {
            font-family: 'Inter', sans-serif;
            font-size: 2.1rem;
            font-weight: 600;
            line-height: 1.5;
        }

        span {
            font-family: 'Inter', sans-serif;
            color: #0969da;
            font-size: 1.2rem;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.list-type-of-campaign {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 16px;
    column-gap: 16px;

    .item {
        height: fit-content;
    }

    .wrap-item {
        .info {
            border-radius: 8px;
            padding: 16px;
            border: 1px solid #d0d7de;
            margin-bottom: 8px;
            display: flex;
            gap: 12px;
            align-items: flex-start;
            justify-content: space-between;

            .row-1 {
                display: flex;
                align-items: center;
                gap: 16px;
                margin-bottom: 8px;

                p {
                    color: #0969da;
                    font-size: 1.4rem;
                    cursor: pointer;
                }

                p.name {
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    word-break: break-all;
                }

                span {
                    color: #777e86;
                    font-size: 1.2rem;
                    padding: 4px 8px;
                    border: 1px solid #d0d7de;
                    border-radius: 8px;
                }
            }

            .row-2 {
                display: flex;
                align-items: center;
                gap: 8px;
                span {
                    color: #656d76;
                    font-size: 1.3rem;
                    line-height: 1.5;
                    font-family: 'Inter';
                    font-weight: 400;
                }

                .tag {
                    width: 6px;
                    height: 6px;
                    display: block;
                    background-color: #b07219;
                    border-radius: 50%;
                }
            }
        }

        .right {
            .popper-actions {
                width: 120px;
                background-color: #f6f4f4;
                border: 1px solid #d0d7de;
                border-radius: 8px;
                overflow: hidden;

                .popper-item {
                    width: 100%;
                    padding: 6px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    font-size: 1.2rem;
                    transition: background-color 0.3s;
                    color: #656d76;
                    font-family: 'Inter', sans-serif;
                    cursor: pointer;

                    &:hover {
                        background-color: #eaeef2;
                    }

                    img {
                        width: 11px;
                    }
                }
            }
        }
    }
}

.navbar {
    margin-top: 16px;
    border-bottom: 1px solid #d0d7de;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .filter-select-wrap {
        position: relative;

        .wrap-list {
            min-width: 96px;
            position: absolute;
            top: 36px;
            left: 0;
            z-index: 1;
            background-color: #fff;
            border-radius: 6px;
            box-shadow: 0 3px 5px #9d929280;

            opacity: 1;
            visibility: visible;

            transition: opacity, visibility;
            transition-duration: 0.5s;

            .popper-list {
                width: 100%;
                padding: 6px;
                font-family: 'Inter', sans-serif;
            }

            .popper-list.calendar {
                padding: 0;
            }

            .popper-item {
                width: 100%;
                border-radius: 6px;
                transition: background-color 0.3s;
                cursor: pointer;

                &:hover {
                    background-color: #f1f1f1;

                    span {
                        color: #17171a;
                    }
                }

                span {
                    display: block;
                    padding: 6px 6px;
                    min-width: 96px;
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: #7d7c85;
                }

                + .popper-item {
                    margin-top: 4px;
                }
            }
            .popper-item.active {
                background-color: #e6ebf1;
                span {
                    color: #17171a;
                }
            }
        }
        .wrap-list.calendar {
            left: initial;
            right: 0;
            transform: translateX(50%);
        }

        .wrap-list.none {
            opacity: 0;
            visibility: hidden;
        }
    }

    .main {
        min-width: 72px;
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: space-between;
        font-family: 'Inter', sans-serif;
        font-size: 1.4rem;
        border: 1px solid #d0d7de;
        padding: 6px 6px;
        cursor: pointer;
        border-radius: 6px;

        img {
            width: 13px;
            transition: rotate 0.4s;
        }

        img.icon-rotate {
            rotate: 180deg;
        }
    }
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 12px;
}
.form-search form {
    height: 32px;
    width: 260px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 8px;

    button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        cursor: pointer;
        background-color: var(--primary-color);
        padding-left: 12px;
        padding-right: 12px;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;

        img {
            filter: brightness(0) saturate(100%) invert(96%) sepia(0%) saturate(7491%) hue-rotate(102deg)
                brightness(111%) contrast(101%);
        }
    }

    input {
        width: 100%;
        padding: 0 12px;
    }
}
span.large {
    min-width: 356px !important;
}

.icon-small {
    width: 14px;
}

.table {
    .head-table {
        display: grid;
        grid-template-columns: 280px repeat(4, 1fr) 200px repeat(2, 1fr);
        column-gap: 12px;
        border-bottom: 1px solid #e7e7e9;

        div {
            padding: 8px 8px;

            display: flex;
            align-items: center;
            gap: 6px;
            transition: color, background-color;
            transition-duration: 0.4s;

            &:hover {
                color: #333;
                background-color: #e8e8e8;

                img.icon-small {
                    filter: brightness(0) saturate(100%) invert(19%) sepia(0%) saturate(3494%) hue-rotate(88deg)
                        brightness(105%) contrast(93%) !important;
                }
            }

            span {
                font-family: 'Inter', sans-serif;
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
    }
}

.table-data {
    .row-data {
        position: relative;
        display: grid;
        grid-template-columns: 280px repeat(4, 1fr) 200px repeat(2, 1fr);
        column-gap: 12px;
        border-bottom: 1px solid #e7e7e9;
        font-family: 'Inter', sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        color: #62615c;

        transition: color, background-color;
        transition-duration: 0.4s;

        .actions {
            position: absolute;
            left: 0;
            top: 50%;
            padding: 0;

            background: #fff;
            transform: translateY(-50%);
            z-index: 5;
            box-shadow: 0 3px 5px #9d929280;
            border-radius: 6px;
            visibility: hidden;
            opacity: 0;

            transition: opacity, visibility;
            transition-duration: 0.4s;

            button {
                padding: 10px 0;
                display: block;
            }
            button:nth-child(1) {
                height: 100%;
                padding: 10px 12px;
            }

            button:not(:nth-child(3)) {
                border-right: 1px solid #ddd;
            }
            button:not(:nth-child(1)) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 100%;
                cursor: pointer;
                padding-right: 4px;

                &:hover {
                    img {
                        filter: brightness(0) saturate(100%) invert(82%) sepia(16%) saturate(6917%) hue-rotate(206deg)
                            brightness(80%) contrast(87%) !important;
                    }
                }
            }
        }

        &:hover {
            color: #333;
            background-color: #e0edfb;

            .actions {
                opacity: 1;
                visibility: visible;
            }
        }

        div {
            padding: 10px 8px;

            display: flex;
            align-items: center;
            gap: 6px;
        }

        .status {
            font-size: 1.3rem;

            padding: 4px;
            border-radius: 4px;
        }
        .status-0 {
            background-color: #f1f0ef;
        }

        .status-1 {
            background-color: #fdecc8;
        }
        .status-2 {
            background-color: #ffe2dd;
        }

        .status-3 {
            background-color: #dbeddb;
        }
    }
    .text-data {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: break-all;
    }
    .wrap-date {
        display: flex;
        align-items: center;
        gap: 8px;

        .start-date,
        .end-date {
            font-size: 1.3rem;
            color: var(--primary-color);
        }
    }

    .add-btn {
        height: 24px;
        padding: 0 6px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        gap: 4px;
        background-color: #f4f4f4;
        border-radius: 4px;
        cursor: pointer;
        transition: visibility, opacity;
        transition-duration: 0.4s;
    }

    .add-budget,
    .add-daily-budget {
        visibility: hidden;
        opacity: 0;
    }

    .budget:hover {
        .add-budget {
            visibility: visible;
            opacity: 1;
        }
    }

    .budget,
    .daily-budget {
        position: relative;
    }
    .form-input {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);

        background-color: #fff;
        box-shadow: 0 3px 5px #9d929280;
        height: 28px;
        border-radius: 4px;
        width: 60%;
        opacity: 1;
        visibility: visible;

        transition: opacity, visibility;
        transition-duration: 0.4s;

        input {
            width: 100%;
            height: 100%;
            padding: 0 8px;
        }
    }
    .form-input.none {
        opacity: 0;
        visibility: hidden;
    }

    .daily-budget:hover {
        .add-daily-budget {
            opacity: 1;
            visibility: visible;
        }
    }

    .wrap-name-campaign {
        position: relative;

        &:hover {
            button {
                opacity: 1;
                visibility: visible;
            }
        }

        button {
            background-color: #fff;
            gap: 3px;
            z-index: 2;
            display: flex;
            align-items: center;
            position: absolute;
            right: -6px;
            top: 50%;
            transform: translateY(-50%);
            padding: 4px;
            border-radius: 3px;
            cursor: pointer;
            box-shadow: 0 3px 5px #9d929280;

            transition: opacity, visibility;
            transition-duration: 0.4s;

            opacity: 0;
            visibility: hidden;
        }
    }

    .wrap-objective-campaign {
        position: relative;
        &:hover {
            .popper-objective {
                opacity: 1;
                visibility: visible;
            }
        }
        .popper-objective {
            right: 0;
            top: 0;
            width: 100%;
            position: absolute;
            z-index: 8;
            background-color: #f8f8f8;
            box-shadow: 0 3px 5px #9d929280;

            border-radius: 6px;

            transition: opacity, visibility;
            transition-duration: 0.4s;

            opacity: 0;
            visibility: hidden;

            span {
                width: 100%;
            }
        }
    }

    .timetable-campaign {
        position: relative;

        &:hover {
            .go-schedule {
                visibility: visible;
                opacity: 1;
            }
        }

        .go-schedule {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            //  width: 72%;
            position: absolute;
            left: 0;
            top: 4px;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: 0 3px 5px #9d929280;
            opacity: 0;
            visibility: hidden;

            transition: opacity, visibility;
            transition-duration: 0.4s;

            img {
                filter: brightness(0) saturate(100%) invert(29%) sepia(96%) saturate(3270%) hue-rotate(203deg)
                    brightness(90%) contrast(93%);
            }
        }
    }
}

//PREVIEW CONTENT

.popper-overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    z-index: 8;
    background-color: #00000042;
    transition: opacity, visibility;
    transition-duration: 0.5s;
}

.popper-notofication[class$='show'] ~ .popper-overlay {
    visibility: visible;
    opacity: 1;
}

.popper-notofication[class$='show'] {
    translate: 0;
}

.popper-notofication {
    translate: 100%;
    position: fixed;
    z-index: 91;
    top: 0;
    bottom: 0;
    right: 0;
    width: 950px;
    // inset: 0 calc(100% - 350px) 0 0;
    background-color: #fff;
    border-top-left-radius: 20px;
    transition: translate 0.5s;
    height: 100vh;
    overflow-y: scroll;
}

.notification-top {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 8px;

    .title {
        font-size: 1.9rem;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }

    .send {
        color: #0969da;
        height: 32px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 500;
        gap: 8px;
        background-color: #f0f0f0;
        padding: 0 12px;
        cursor: pointer;

        img {
            filter: brightness(0) saturate(100%) invert(29%) sepia(62%) saturate(5824%) hue-rotate(203deg)
                brightness(95%) contrast(93%) !important;
        }
    }

    .close-btn {
        margin-left: auto;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        border-radius: 8px;

        &:hover {
            background-color: #f0f0f0;
        }

        img {
            margin: auto;
            cursor: pointer;
        }
    }
}

.preview-content {
    .header-preview-content {
        padding: 0 16px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 24px;
        border-bottom: 1.5px solid #e4dddd;
        figure {
            width: 50%;
            flex-shrink: 0;
        }

        .thumbnail {
            border-radius: 4px;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        .introduce {
            h4 {
                font-family: 'Inter', sans-serif;
                font-size: 2.8rem;
                margin-bottom: 12px;
                color: var(--primary-color);
            }

            p {
                font-family: 'Inter', sans-serif;
                font-size: 1.3rem;
                color: #656d76;
                line-height: 1.3;
                margin-bottom: 24px;
                max-width: 90%;
            }

            .introduce-item {
                display: flex;
                align-items: center;
                gap: 8px;
                + .introduce-item {
                    margin-top: 12px;
                }
            }

            .wrap-icon {
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                background-color: #f0f0f0;

                img {
                    width: 13px;
                }
            }

            .value {
                margin-left: 10px;
                font-family: 'Inter', sans-serif;
                color: #7d7c85;
                font-size: 1.5rem;
            }

            .tag {
                font-size: 1.5rem;
                color: #5f5f5f;
                font-family: 'Inter', sans-serif;
            }
        }
    }

    .bread {
        padding-top: 16px;
        overflow: hidden;
        .list-bread {
            padding: 0 16px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #dadada;
        }

        .bread-item {
            margin-bottom: -2px;
            border-bottom: none;
            padding: 8px 16px;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;

            span {
                font-family: 'Inter', sans-serif;
                font-size: 1.5rem;
            }

            &:hover {
                background-color: #f3f3f3;
            }
        }
    }

    .bread-item.active {
        margin-bottom: -2px;
        position: relative;
        background-color: #fff;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-top: 1px solid #dadada;
        border-left: 1px solid #dadada;
        border-right: 1px solid #dadada;

        span {
            color: var(--primary-color);
            font-weight: 500;
        }
    }

    .inner-content {
        padding: 24px;
    }
}

//END PREVIEW CONTENT
.popper-notofication-edit {
    translate: 100%;
    position: fixed;
    z-index: 91;
    top: 0;
    bottom: 0;
    right: 0;
    width: 950px;
    // inset: 0 calc(100% - 350px) 0 0;
    background-color: #fffefe;
    border-top-left-radius: 20px;
    transition: translate 0.5s;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 80px;
}

.popper-overlay-edit {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    z-index: 8;
    background-color: #00000042;
    transition: opacity, visibility;
    transition-duration: 0.5s;
}
.popper-notofication-edit[class$='show'] {
    translate: 0;
}
.popper-notofication-edit[class$='show'] ~ .popper-overlay-edit {
    visibility: visible;
    opacity: 1;
}

.popper-notofication-edit {
    font-family: 'Inter', sans-serif;
    .content {
        padding: 16px;

        .head-content {
            margin-bottom: 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .name {
                flex: 1;
                .form-edit {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .icon {
                        width: 18px;
                    }

                    input {
                        font-family: 'Inter', sans-serif;
                        font-size: 2rem;
                        font-weight: 500;
                        color: #43433f;
                        flex: 1;
                    }
                }
            }
        }

        .group-btns {
            display: flex;
            align-items: center;
            gap: 12px;

            button {
                width: 120px;
                font-size: 1.4rem;
                padding: 8px 0;
                cursor: pointer;
                border-radius: 6px;
                font-weight: 500;
            }

            button:nth-child(1) {
                background-color: #fdecc8;
            }
            button:nth-child(2) {
                background-color: #ffe2dd;
            }
        }
    }
}

.form-row {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    visibility: visible;
    opacity: 1;

    transition: visibility, opacity, height, margin;
    transition-duration: 0.3s;

    .form-group {
        flex: 1;
    }

    .form-label {
        margin-bottom: 8px;
        label {
            font-family: 'Inter', sans-serif;
            color: var(--primary-color);
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    .form-control {
        height: 32px;
        width: 100%;
        border: 1px solid #d0d7de;
        border-radius: 10px;
    }

    .form-control.no-border {
        border: initial;
        border-radius: 0;
    }

    .form-control.inline {
        margin-top: -8px;
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .form-input {
        height: 100%;
        width: 100%;
        padding: 0 12px;
        font-size: 1.4rem;
        font-weight: 500;
        color: #7d7c85;
        font-family: 'Inter', sans-serif;

        &::placeholder {
            font-size: 1.4rem;
        }
    }
    .form-desc {
        font-family: 'Inter', sans-serif;
        font-size: 1.5rem;
        color: #626466;
        line-height: 1.4;
    }

    .form-desc.small {
        margin-top: 6px;
        font-size: 1.1rem;
        font-style: italic;
        color: #0969da;
    }

    .form-label.small label {
        font-size: 1.3rem;
        color: #776f6f;
    }

    + .form-row {
        margin-top: 24px;
    }
}
.form-row.margin-inital {
    margin: 0;
}
.form-row.none {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin-top: 0;

    + .form-row.none {
        margin-top: 0;
    }
}

.form-wrap-select {
    position: relative;

    .wrap-list {
        width: 100%;
        position: absolute;
        top: 36px;
        left: 0;
        z-index: 1;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 3px 5px #9d929280;

        opacity: 1;
        visibility: visible;

        transition: opacity, visibility;
        transition-duration: 0.5s;

        .popper-list {
            width: 100%;
            padding: 6px;
            font-family: 'Inter', sans-serif;
        }

        .popper-list.calendar {
            padding: 0;
        }

        .popper-item {
            width: 100%;
            border-radius: 6px;
            transition: background-color 0.3s;
            cursor: pointer;

            &:hover {
                background-color: #f1f1f1;

                span {
                    color: #17171a;
                }
            }

            span {
                display: block;
                padding: 6px 6px;
                min-width: 96px;
                font-size: 1.4rem;
                font-weight: 500;
                color: #7d7c85;
            }

            + .popper-item {
                margin-top: 4px;
            }
        }
        .popper-item.active {
            background-color: #e6ebf1;
            span {
                color: #17171a;
            }
        }
    }
    .wrap-list.calendar {
        left: initial;
        right: 0;
        transform: translateX(50%);
    }

    .wrap-list.none {
        opacity: 0;
        visibility: hidden;
    }
    .main {
        min-width: 72px;
        display: flex;
        align-items: center;
        gap: 6px;
        justify-content: space-between;
        font-family: 'Inter', sans-serif;
        font-size: 1.4rem;
        border: 1px solid #d0d7de;
        padding: 6px 6px;
        cursor: pointer;
        border-radius: 6px;

        img {
            width: 13px;
            transition: rotate 0.4s;
        }

        img.icon-rotate {
            rotate: 180deg;
        }
    }
}
.switch label {
    display: inline-block;
    height: 16px;
    width: 50px;
    background-color: #f9f9f9;
    border-radius: 99px;
    outline: 2px solid #e8e8e8;
    transition: background-color, outline;
    transition-duration: 0.4s;

    &::before {
        position: relative;
        content: '';
        display: inline-block;
        height: 15px;
        width: 15px;
        background-color: #fff;
        border-radius: 50px;
        box-shadow: 0 3px 5px #9d929280;
        transition: transform 0.4s;
    }
}

.switch [type='checkbox']:checked + label::before {
    transform: translateX(35px);
    background-color: #f0f0f0;
}

.switch [type='checkbox']:checked + label {
    background-color: var(--primary-color);
    outline-color: var(--primary-color);
}
.container-file {
    .file-thumb {
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 16px;
        border-radius: 4px;
        border: 1px dashed #c8ccd0;
        cursor: pointer;
        position: relative;

        &:hover {
            &::after {
                opacity: 1;
            }
        }

        &::after {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            content: '+';
            top: 50%;
            left: 50%;
            width: 24px;
            height: 24px;
            border: 1px dotted #fadede;
            color: #fadede;
            z-index: 5;
            text-align: center;
            border-radius: 6px;
            opacity: 0;

            transition: opacity 0.4s;
        }

        &.not-border {
            border: none;
        }

        .preview-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
            opacity: 1;
            transition: opacity;
            transition-duration: 0.4s;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .file-thumb.none {
        display: none;
    }
}
